body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
    font-size: 7.5rem;
    margin: 20px auto 0 auto;
    padding-top: 50px;
    font-family: 'Mr De Haviland', cursive;
    color: #4FA095;
  }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #4FA095;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  color: #034749;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border: dotted 6px;
  border-bottom: none;
  width: 4%;
  color: #e5f5f5;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #CFF5E7;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #60c1b4;
  padding: 40px 0 20px;
}

.subtitle {
  margin: 5px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position:absolute;
  height: 80px;
  right: 350px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  height: 80px;
  left:350px;
  bottom: 380px;
}

.mountain {
  padding-top: 20px;
  height: 420px;
}

.profile-img {
  height: 150px;
  padding-bottom: 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.html-css {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.python {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto;
}

.copyright {
  color: #EAF6F6;
  padding: 5px 0;
  font-size: 0.75rem;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
